@charset 'UTF-8';

/*
VARIABLES
================================================ */
:root {
    --light-green: #d5edeb;
    --green: #63dbd0;
    --brown: #784530;
    --light-grey: #eee;
    --white: #fff;
    --oswald-font: 'Oswald', sans-serif;
}

/*
COMMON
================================================ */
p {
    line-height: 2;
}
img {
    max-width: 100%;
}
.title {
    font-family: var(--oswald-font);
    font-size: min(10vw, 4rem);
    margin-bottom: 2rem;
}
.btn {
    color: var(--white);
    background: var(--brown);
    border: 1px solid var(--brown);
    text-decoration: none;
    padding: 1rem;
    display: inline-block;
    margin: 2rem 0;
    transition: .4s;
}
.fadein {
    opacity: 0;
}

/*
LOADING
================================================ */
#loading {
    background-color: var(--light-grey);
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: grid;
    place-items: center;
}
#loading-screen {
    background-color: var(--light-green);
    position: fixed;
    inset: 0;
    z-index: 9998;
    translate: 0 100vh;
}
#loading p{
    font-size: 2rem;
    font-family: var(--oswald-font);
}

/*
SLIDE MENU
================================================ */
/* 開閉ボタン */
.btn-menu {
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 4;
    padding: .5rem 1rem;
    border: 1px solid var(--brown);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    transition: .4s;
}
.btn-menu svg {
    fill: var(--brown);
    margin-top: .25rem;
    height: 2rem;
    width: 2rem;
}

/* 閉じるボタン */
#menu-close {
    border: 1px solid var(--light-green);
}
#menu-close svg {
    fill: var(--light-green);
}

/* スライドメニューパネル */
#menu-panel {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    padding: 8rem 2rem 2rem;
    width: max(32vw, 20rem);
    height: 100vh;
    background-color: var(--brown);
    box-shadow: 0 0 2rem var(--brown);
    font-family: var(--oswald-font);
    translate: 100vw;
}
.menu-list {
    list-style: none;
}
.menu-list li {
    margin: 1.5rem 0;
    opacity: 0;
}
.menu-list a {
    color: var(--light-green);
    text-decoration: none;
    font-size: 2rem;
}

/* contact
------------------------- */

.contact-img {
    background-image: url(../images/bird-5704439_1920.jpg);
    width: 100%;
}

.contact-form {
    text-align: center;
    padding-top: 100px;
    width: 100%;
}

.contact-form h1 {
    font-size: 4rem;
    color: #FFF;
}

#sns {
    background: #f5e2b7;
    padding: 4% 0;
}

#sns .wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

#sns .sns-title {
    margin-bottom: 30px;
    border-bottom: solid 5px #333;
}

.sns-box {
    width: 40%;
}

#sns .fa-brands {
    font-size: 250px;
    margin-top: 150px;
}

.inner {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.box-2 {
    text-align: center;
    width: 100%;
}

.box-3 {
    width: 60%;
    position: relative;
    margin: 2em auto;
    padding: 0.5em 1em;
    border: solid 3px #333;
    border-radius: 8px;
}
.box-3 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background:  #f5e2b7;
    color: #333;
    font-weight: bold;
}
.box-3 p {
    text-align: left;
    margin: 0; 
    padding: 0;
}
/* footer
------------------------- */
footer {
    background: black;
    text-align: center;
    padding: 26px 0;
}

footer p {
    color: #fff;
    font-size: 0.875rem;
}

/*
DESKTOP SIZE
================================================ */
@media(min-width: 800px) {
    /* COMMON */
        .title {
            margin-bottom: 3rem;
        }
        .btn:hover {
            color: var(--brown);
            background: var(--light-green);
        }
    /* SLIDE MENU */
        .btn-menu:hover {
            background-color: var(--light-green);
        }
        #menu-close:hover svg {
            fill: var(--brown);
        }
        .menu-list a:hover {
            transition: .4s;
            color: var(--green);
        }

    }